.pendente{
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
}
.pendente button{
    position: absolute;
    right: 2px;
    padding: 2px;
}
.pendente button i{
    pointer-events: none;
}
.pendente span{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
}